/* global ---------------------------------------------------------------------------------------*/
#home-page{
    margin: 0;
    background-color: black;
}

main{
    max-width: 2500px;
    min-width: 350px;
    justify-self: center;
}

body{
    margin: 0;
    background-color: #c8c8c8;
}

nav{
    display: flex;
    width: 100%;
}

h1{
    text-align: center;
    color: #597bc5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#header-bar{
    background-color: #A1B7BF;
    width: 100%;
    height: 95px;
}

#header-bar-white-space{
    background-color: white;
    width: 100%;
    height: 98px;
    position: absolute;
    z-index: -100;
}

#nav-links{
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    font-size: larger;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_button{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 0px;
    padding-right: 20px;
    border:  2px, solid, black;
    border-bottom: transparent;
    border-left: transparent;
    border-top: transparent;
}

#nav-links li:last-child .nav_button {
    border-right: transparent;
}

.nav_button:hover {
    color: #597bc5;   
}

.nav_button:active{
    color:darkcyan
}

/* main -----------------------------------------------------------------------------------------*/
#main-background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    background-position: top center;
    background-size: cover;
    pointer-events: none;
}

#main-info{
    background: linear-gradient(to bottom right, #ffadad, #c2efff);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 3% 15% 0 15%;
    justify-content: center;
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 350px;
    max-width: 900px;
}

#main-title{
    border: 2px, solid, white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 3% 5% 0 5%;
    padding-bottom: 5px;
    font-size: 40px;
}

#main-content{
    padding-top: 50px;
    font-size: 20px;
}

/* events ---------------------------------------------------------------------------------------*/
#event-links{
    padding: 0;
    justify-self: center;
}

.event{
    display: flex;
    height: 150px;
    background-color: white;
    margin: 30px 5% 30px 5%;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 851px;
    border-radius: 20px;
}

.event:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

#event-date, #event-time, #event-name, #event-description{
    align-self: center;
    text-align: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

#event-description{
    min-width: 172px;
}

#event-image{
    margin-right: 20px; 
}

#event-date{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    min-width: 60px;
}

/* Location -------------------------------------------------------------------------------------*/
#location-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#google-map{
    padding: 20px;
    border-radius: 50px;
}

#map-details{
    margin-top: 20px;
    padding: 20px;
    max-width: 376px;
}

#location-title{
    justify-self: center;
}

.line {
    border: 1px solid gray;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Contact Us -----------------------------------------------------------------------------------*/
#contact-us-form{
    padding: 70px 10% 0px 10% ;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
    align-items: center;
    width: 900px;
}

.survey-information{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    height: 390px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 20px;
}

legend{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 55px;
}

textarea{
    width: 98%;
    height: 82%;
    resize: none;
    border-radius: 5px;
}

.survey-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#submit-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    width: 80%;
    margin-top: 10px;
}

/* Menu -----------------------------------------------------------------------------------------*/
table{
    padding: 30px;
    display: flex;
}

td{
    padding: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

#menu-title{
    text-align: center;
    padding: 30px;
    font-family: Helvetica;
    font-size: xx-large;
}

#menu{
    display: flex;
    background-color:antiquewhite;
    border-radius: 50px;
}

.menu-section{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.food_image{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

/* Phone Screens --------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    h1{
        display: none;
    }

    #nav-links{
        flex-direction: column;
        padding: 0px;
    }

    .nav_button{
        border: transparent;
        padding: 0px;
        margin: 0px;
    }

    #header-bar-white-space{
        height: 150px;
        background-color: #A1B7BF;
    }

    #header-bar{
        background-color: #A1B7BF;
        width: 100%;
        height: 0px;
    }

    .event{
        flex-direction: column;
        display: flex;
        height: auto;
        background-color: white;
        margin: 20px 4% 20px 4%;
        justify-content: start;
        min-width: 275px;
    }

    #event-image{
        display: none;
    }

    #event-date, #event-time, #event-name, #event-description{
        margin: 10px;
        padding: 0px;
    }

    #location-main{
        flex-wrap: wrap;
    }

    #map-details{
        margin-top: 0;
        padding: 0;
        width: 100%;
        padding-top: 20px;
    }

    #google-map{
        width: 100%;
        padding: 0px;
    }

    .line:last-of-type{
        display: none;
    }
    #contact-us-form{
        flex-direction: column;
        padding-top: 0;
        width: 350px;
    }
}